html {
  display: flex;
  justify-content: center;
  background-color: rgba(170, 143, 101, 0.61);
 
}

.App {
  text-align: center;
  width: 100vw;
}

.app-background {
  background-color: rgb(rgba(255, 255, 255, 0.226));
  height: max-content;
}

.all-food {
  display: flex;
  width: 99vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.all-food img {
  width: 10vw;
}

.all-meals {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.all-meals img {
  width: 6vw;
}

.single-category{
width: 12vw;
height: fit-content;
color: #fff;
margin: 1em 1em;
border: .05px solid rgba(71, 56, 31, 0.445);
}

.single-category:hover {
  border: 1px solid #fff;
  color: rgba(71, 56, 31, 0.445);
  cursor: pointer;
}

.single-category img {
  padding-top: .5em;
}

.single-category h2{
  margin-top: 0;

}

.nav-style{
  top: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.nav-style div {
  background-color: rgba(255, 255, 255, 0.63);
  height: fit-content;
}

.nav-style div a:hover {
  color: rgb(71, 56, 31);
  border-bottom-color: rgb(71, 56, 31);


}

.nav-style div a {
  text-decoration: none;
  color: rgb(71, 56, 31);
  font-size: 1.3em;
  font-weight: 600;
  list-style: none;
  border-bottom: 2px solid  white;
  border-left: 2px   solid white;
  border-right: 2px  solid white;
  border-radius: 5%;

}

.nav-logo p {
  all: unset;
  justify-self: flex-start;
  width: 20em;
  color: rgb(71, 56, 31);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-size: 1.6em;
  margin: 0;
}

.categories-banner {
font-size: 3em;
color: #fff;
margin-top: 0;
margin-bottom: .5em;
border-bottom: 2px solid rgb(71, 56, 31) ;
padding-bottom: .5vw;
height: 1em;
}


.home-comp {
  display: flex;
  width: 100vw;
  height: 85vw;
  flex-direction: column;

}

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vw;
  justify-content: center;
}

.header img{
  width: 100vw;
  position: absolute;
  top: 0;
}

.header p{
  color: rgb(71, 56, 31);
  font-size: 3em;
  font-weight: 450;
  height: fit-content;
  margin: 0 0 0 .3em;
  z-index: 1;
}

.text-banner {
  width: 100vw;
  font-weight: 400;
  height: fit-content;
  z-index: 1;
  background-color: #ffffffb0;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}


.search {
  color: #fff;
  background-color: #ffffff2d;
  margin: 3vw 0vw;
  padding: .5em;
  border-radius: 40%;
}

.search h3{
  font-size: 1.7em;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  margin-top: 0;
}
.search h5{
  font-size: 1em;
  color: #000000;
  letter-spacing: 1px;
}

.search-img img{
  width: 100vw;
}


.search-page {
  width: 100vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.search-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75vw;
  background-color: rgba(255, 255, 255, 0.314);
  z-index: 1;
}

.search-results img {
  width: 10vw;
}

.single-meal{
  width: fit-content;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 1em;
  border: .05px solid rgba(71, 56, 31, 0.445);
  color: rgb(71, 56, 31);
}

.single-meal:hover {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

input[type='text'],
.search-field {
  width: 700px;
  text-align: center;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.904);
  font-size: 18px;
}

.detail {
  display: flex;
  flex-direction: column;
}

.detail-img{
  text-align: center;
  width: fit-content;
}

.detail-img h3{
  color: rgb(71, 56, 31);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-size: 3em;
  margin: 0;  
  border: 2px solid rgba(71, 56, 31, 0.445);


}

.details-page{
  margin-top: 4vw;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  justify-content: space-evenly;
}

.detail-img img{
  width: 30vw;
}

.iAndM {
  width: fit-content;
  height: fit-content;
  padding-bottom: 1em; 
  display: flex;
  flex-direction: row;
  background-color: rgba(71, 56, 31, 0.342);
  border-bottom: 2px solid rgba(71, 56, 31, 0.445);
  border-left: 2px solid rgba(71, 56, 31, 0.445);
  border-right: 2px solid rgba(71, 56, 31, 0.445);

}

.iAndM h3 {
  font-weight: 800;
  font-size: 1.5em;
  color: #fff;

}

.measurements{
  padding-left: 8em;
  padding-right: 3em;
  border-left: 2px solid rgba(71, 56, 31, 0.445);
}

.ingredients{
  padding-right: 8em;
  padding-left: 3em;
}

.measurements p {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 0;
  font-weight: 700;
}

.ingredients p{
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 0; 
  font-weight: 700;
}

.instructions {
  background-color: rgba(71, 56, 31, 0.342);
  border: 2px solid rgba(71, 56, 31, 0.445);
  color: white;
  font-size: 1.2em;
  width: 75vw;
  align-self: center;
  margin-top: 1vw;

}